@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    color: #444444;
}

header{
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 0 18px rgb(55 66 59 / 8%);
}

a{
    text-decoration: none;
}

.logo{
    margin-right: 50px;
    padding-top: 5px;
}

header .logo h1{
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    padding: 0;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

header .logo a{
    color: #5fcf80;
    text-decoration: none;
}

.a-item{
    align-items: center!important;
    justify-content: space-evenly;
}

.navbar{
    padding: 0;
    display: flex;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    position: relative;
}

nav ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #37423b;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
}

a.active{
    color: #5fcf80;
}

nav ul li a:hover{
    color: #5fcf80;
}

.get-start-btn{
    margin-left: 22px;
    background: #5fcf80;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
}

.get-start-btn:hover{
    background-color: #5ac27a;
    color: #fff;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

#hero{
    width: 100%;
    height: 80vh;
    background: url(hero-bg.jpg) top center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.overlay-color{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    padding-top: 72px;
}

#hero h1{
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

#hero h2{
    color: #eee;
    font-family: "Raleway", sans-serif;
    margin: 10px 0 0 0;
    font-size: 24px;
}

#hero .btn-get-start{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-get-start:hover{
    background-color: #5fcf80;
    border-color: #5fcf80;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
    font-family: "Raleway", sans-serif;
}

.fst-italic{
    font-style: italic;
}

.about ul {
    list-style: none;
    padding: 0;
}

.about ul li {
    padding-bottom: 10px;
}

.about ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5fcf80;
}

.counts {
    padding: 30px 0;
}

.section-bg {
    background-color: #f6f7f6;
}

.counts span {
    font-size: 48px;
    display: block;
    color: #5fcf80;
    font-weight: 700;
}

.counts p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #37423b;
}

.totop{
    font-size: 25px;
    background-color: #5ac27a;
    color: #fff;
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 50%;
    text-align: center;
    display: none;
    position: fixed;
    bottom: 22px;
    right: 10px;
    cursor: pointer;
}

.why-us .content {
    padding: 30px;
    background: #5fcf80;
    border-radius: 4px;
    color: #fff;
}

.why-us .content h3 {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    font-size: 34px;
    margin-bottom: 30px;
}

.why-us .content p {
    margin-bottom: 30px;
}

.why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.why-us .content .more-btn i {
    font-size: 14px;
}

.why-us .content .more-btn:hover {
    background: white;
    color: #5fcf80;
}

.why-us .icon-boxes .icon-box {
    text-align: center;
    background: #fff;
    padding: 40px 30px;
    width: 100%;
    border: 1px solid #eef0ef;
}

.why-us .icon-boxes .icon-box i {
    font-size: 32px;
    padding: 18px;
    color: #5fcf80;
    margin-bottom: 30px;
    background: #ecf9f0;
    border-radius: 50px;
}

.why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin: 0 0 30px 0;
}

.why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}

.feactures {
    padding-top: 0px;
}

.feactures .icon-box {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding: 20px;
    transition: 0.3s;
    border: 1px solid #eef0ef;
}

.feactures .icon-box:hover{
    border: 1px solid #5fcf80;
    color: #5ac27a;
    transition: 0.3s;
}

.feactures .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}

.feactures .icon-box h3 {
    font-weight: 700;
    margin: 0;
    font-family: "Raleway", sans-serif;
    padding: 0;
    line-height: 1;
    font-size: 16px;
}

.feactures .icon-box h3 a {
    color: #37423b;
    transition: 0.3s;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.line-title{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
}

.courses .course-item {
    border-radius: 5px;
    border: 1px solid #eef0ef;
}

.courses .course-content {
    padding: 15px;
}

.courses .course-content h4 {
    font-size: 14px;
    background: #5fcf80;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    padding: 7px 14px;
    color: #fff;
    margin: 0;
}

.courses .course-content .price {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #37423b;
}

.courses .course-content h3 {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}

.courses .course-content h3 a {
    color: #37423b;
    transition: 0.3s;
}

.courses .course-content h3 a:hover {
    color: #5fcf80;
    transition: 0.3s;
}

.courses .course-content p {
    font-size: 14px;
    color: #777777;
}

.courses .trainer {
    padding-top: 15px;
    border-top: 1px solid #eef0ef;
}

.courses .trainer .trainer-profile img {
    max-width: 50px;
    border-radius: 50px;
}

.courses .trainer .trainer-profile span {
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #5a6c60;
}

.courses .trainer .trainer-rank {
    font-size: 18px;
    color: #657a6d;
}

.courses .trainer .trainer-rank span {
    padding-left: 4px;
}

.trainers .member {
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #eef0ef;
}

.trainers .member img {
    margin: -1px -1px 30px -1px;
}

.trainers .member .member-content {
    padding: 0 20px 30px 20px;
}

.trainers .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
}

.trainers .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

.trainers .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #aaaaaa;
}

.trainers .member .social {
    margin-top: 15px;
}

.trainers .member .social a {
    color: #7e9486;
    transition: 0.3s;
}

.trainers .member .social a:hover {
    color: #5fcf80;
    transition: 0.3s;
}

.trainers .member .social i {
    font-size: 18px;
    margin: 0 2px;
}


#footer {
    color: #37423b;
    font-size: 14px;
    background: #eef0ef;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f9faf9;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-newsletter {
    font-size: 15px;
}

#footer h3{
    font-family: "Raleway", sans-serif;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}


#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}


#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #5fcf80;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #5fcf80;
    transition: 0.3s;
}

#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #e0e5e2;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #5fcf80;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}

#footer .footer-newsletter form input[type=submit]:hover{

    background: #55bc74;
    
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #5fcf80;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .credits a {
    color: #3ac162;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #55bc74;
}

/* About HTML */

.banner-about {
    margin-top: 73px;
    text-align: center;
    background: #5fcf80;
    padding: 30px 0;
    color: #fff;
}

.banner-about h2{
    font-size: 32px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
}

.banner-about p {
    font-size: 14px;
    margin-bottom: 0;
}

/* Swiper */



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.testimonials .testimonial-wrap {
    padding-left: 50px;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    border: 1px solid #eef0ef;
    position: relative;
    background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 10px;
    height: 90px;
    border: 6px solid #fff;
    position: absolute;
    left: -45px;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item p {
   font-style: italic;
   margin: 15px auto 15px auto;
   font-size: 17px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    color: #c1ecce;
    font-size: 26px;
    position: relative;
}

    

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    color: #c1ecce;
    font-size: 26px;
    position: relative;
    top: 10px;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #5fcf80;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #5fcf80;
}


/*events html*/

.events .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
}

.events .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.events .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.events .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    margin-top: -60px;
    
}

.events .card-title {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.events .card-title a {
    color: #37423b;
    transition: 0.3s;
}

.events .card-text {
    color: #5e5e5e;
}

.events a:hover {
    color: #5fcf80;
    transition: 0.3s;
}

.events .card-img img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


/*Pricing html*/

.pricing .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    border: 1px solid #eef0ef;
    border-radius: 0;
    position: relative;
    overflow: hidden;
}

.pricing h3 {
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #777777;
    background: #f8f8f8;
}

.pricing .featured h3 {
    color: #fff;
    background: #5fcf80;
}

.pricing h4 {
    font-size: 36px;
    color: #5fcf80;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.pricing h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing ul li {
    padding-bottom: 16px;
}

.pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
}

.pricing .btn-buy:hover{
    background: #57bf76;
}

.pricing .btn-buy {
    background: #5fcf80;
    display: inline-block;
    padding: 8px 35px;
    border-radius: 50px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #5fcf80;
    color: #fff;
}


/* contact html */

.contact .info {
    width: 100%;
    background: #fff;
}

.contact .info i {
    font-size: 20px;
    color: #5fcf80;
    float: left;
    width: 44px;
    height: 44px;
    background: #ecf9f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    margin-bottom: 5px;
    color: #37423b;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #657a6d;
}

.contact .info .email, .contact .info .phone {
    margin-top: 40px;
}

.contact .php-email-form {
    width: 100%;
    background: #fff;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form button[type=submit] {
    background: #5fcf80;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover{
    background:#4fac6b;
}

/*media elements */

.mobile-nav-toggle {
    color: #37423b;
    display: none;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}


@media (max-width: 1024px){

.navbar ul {
    display: none;
}

.navbar {
    padding: 0;
}

.mobile-nav-toggle {
    display: block;
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(32, 38, 34, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile ul {
    position: absolute;
    display: block!important;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar a{
    font-size: 20px;
}

.get-start-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
}

}

@media (max-width:731px){
    #hero h1 {
        font-size: 34px;
    }

}

@media (max-width: 767px){
    .testimonials .testimonial-item {
        padding: 30px;
        margin: 15px;
    }
    
    .testimonials .testimonial-wrap {
        padding-left: 0;
    }
    
    
    .testimonials .testimonial-item .testimonial-img {
        position: static;
        left: auto;
    }
    
    }

